@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikProTRIAL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Diatype Semi Mono';
  src: url('/fonts/ABCDiatypeSemi-Mono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
} 